.eco, .discount{
    color: white;
    font-size: 10px;
    padding: 2px 4px;
}

.container-info{
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.discount-red{
    background-color: red;
}

.eco-green{
    background-color: green;
}

.interest{
    text-align: center;
    padding: 10px 10px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hearts{
    font-size: 20px;
}

.hearts:hover{
    font-size: 20px;
    cursor: pointer;
    color: red;
}

.photo-header{
    padding: 0 10px;
    position: relative;
    
}

.photo-header:hover .second-image{
    display: inline-block;
}

.photo-header:hover .main-image{
    display:none;
}

.brand, .old-price, .new-price{
    font-size: 12px;
}

.brand, .old-price{
    color: gray;
}

.new-price{
    color: red;
}

.old-price{
    margin-left: 5px;
    text-decoration: line-through;
}

.normal-price{
    text-decoration: none;
    font-size: 12px;
}

.description{
    padding: 0 10px;
}

.photo.product{
    margin-bottom: 20px;
}

.second-image{
    display: none;
}

.eco-green-left0{
    left: 10px;
}